body {
  margin: 0;
  padding: 0;
}

header {

}

.functional-header {
    margin-top: 1em;
    font-size: 18px;
}

.functional-header ul {
  list-style-type: none;
  margin-right: 2em;
  display: flex;
  flex-direction: row-reverse;
}

.functional-header ul li a {
  display: block;
  padding-left: .5em;
  padding-right: .5em;
  
  
}

.functional-header ul li ul {
  display: none;
  
}

.functional-header ul li:hover ul {
  display: flex;
  flex-direction: column;
}

.dropdown {
  margin: 0;
  padding: 0;
}

header a:hover {
  cursor: pointer;
  color: red;
  transition: .2s;
}

.functional-header a {
    color: grey;
}

h1 a{
    color: black;
}

h1 a:hover {
    color: black;
    transition: none;
}

header a {
  text-decoration: none;
}

#title {
    text-align: center;
    color: teal;
    font-size: 64px;
    padding: 0;
    margin-bottom: .5em;
    margin-top: 0;
}

nav {
    font-size: 20px;
}

.navbar {
    text-align: center;
    padding: .5em;
    background-color: black;
}

.navbar a {
    color: white;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    padding: .5em;
}

.home-content {
  background-color: rgb(250, 243, 231);
}

.product-display {
  justify-content: center;
  align-items: center;
  display: flex;
}

.slideshow {
  /* min-width?*/
  width: 1200px;
  height: 600px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5vh;
}

.slideshow:hover {
  
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
    width: 1200px;
    height:600px;
}

.navigation-manual {
  position: absolute;
  width: 1200px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:hover {
  background-color: red;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

@media (max-width: 900px) {
  .slideshow {
    width: 100%;
    
  }

  .slideshow .slides {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
  }
}

.top-home {
  display: inline-block;
  position: relative;
}

.bottom-home {
  display: inline-block;
}

.nav-img {
  width: 100%;
  /* width: auto; */
  max-width: 100vh;
  margin-left: 5vh;
  margin-right: 5vh;
  border: black solid 2px;
}

footer {
  margin: 0;
  background-color: rgb(31, 30, 30);
  color: white;
  text-align: center;
}

footer p{
  margin: 0;
  padding: .5vh;
}
